body {
  font-family: Arial;
  background: #111;
  color: #eee;
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
}

input, button, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
}

input, textarea {
  background: #222;
  color: #eee;
}

button {
  background: #1DB954;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  opacity: .9;
}

#log {
  white-space: pre-wrap;
  background: #000;
  padding: 10px;
  border-radius: 6px;
  height: 200px;
  overflow-y: auto;
}

